/* BASE */
/* espaço e alinhamento do websit */
:root {
    --primaria: #E6B07E;
    --secundaria: #665E57;
    --tom-1: #EAD8C7;
    --tom-2: #B38962;
    --tom-3: #664E38;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}



/* posicionamento absoluto */
.logo-hero {
    position: absolute;
    right: -80px;
    opacity: 07;
}

body {
    background-color: var(--tom-1);
}

.hero {
    justify-content: space-around;
    padding: 64px 16px;

    & header {
        display: flex;
        align-items: center;
        position: relative;
    }

    & .hero-paragraph {
        width: 272px;
        align-self: center;
    }

    & #hero-slider {
        margin-top: 16px;
        justify-content: center;
    }

    & span {
        color: var(--tom-3);
        font-weight: 800;
    }

    & img {
        height: 100%;
    }

    @media (min-width: 768px) {

        padding: 64px;

        & #hero-slider {
            height: 360px;
        }

        & img {
            height: initial;
            width: 100%;
        }
    }
}

.a-barbearia-section {
    justify-content: space-between;

    & .card {
        width: 270px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 8px 12px 0px 0px;
        border-top: 3px;
        border-right: 3px;
        border-left: 0px;
        border-bottom: 0px;
        border-style: solid;

        background-color: var(--tom-1);

        border-image-source: linear-gradient(30deg,
                var(--tom-1)60%,
                var(--tom-3)100%);
        border-image-slice: 1;
    }

    & p {
        margin: 0%;
    }

    & [role=mask] {
        width: 420px;
        height: 420px;
        border-radius: 100%;
        position: absolute;
        align-items: center;
    }

    & img {
        width: 100%;
    }

    & .bolinhas {
        position: absolute;
        left: 0px;
        z-index: -20;

    }

    @media (min-width: 768px) {
        & [role=mask] {
            width: 620px;
            height: 620px;
            right: 0;
        }

        & .card {
            width: 370px;
        }
    }
}

.serviços-section {

    padding: 64px 0px;

    & .bolinhas {
        width: 270px;
        height: 48px;
    }

    & h2 {
        color: var(--tom-3, #664E38);
        text-align: center;
        font-family: "Source Serif 4";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 108%;
        /* 17.28px */
    }

    & article {
        width: 40%;
        margin-right: 32px;
    }

    & article p {
        text-align: center;
    }

    & [role="mask"] {
        width: 160px;
        height: 320px;
        flex-shrink: 0;
        border-radius: 0px 8px 8px 0px;
    }

    & [role="mask"] img {
        height: 140%;
        transform: scalex(-1);
    }

    @media (min-width: 768px) {
        padding: 96px 64px;

        & [role="mask"] {
            border-radius: 8px;
            width: 180px;
            height: 360px;
        }

        & article {
            justify-content: center;
        }

        & article a {
            margin-top: 20px;
        }
    }
}

.contato-section {
    padding: 64px 16px;

    & h1 {
        margin: 0px 16px;
    }

    & .buttons-space {
        margin: 0px 16px;
    }

    & a {
        width: 100%;
    }

    & .whatsapp-link {

        background-color: #12867e;
        background-color: color-mix(in srgb, #12867e 100%, white 20%);
        color: var(--tom-1);
    }

    @media (min-width: 768px) {
        padding: 64px;
        justify-content: space-around !important;

        & [role="mask"] {
            height: 400px;
        }

        & .buttons-space {
            flex-direction: row;
            gap: 16px;
        }
    }
}

.unidades-section {
    height: fit-content;

    & .map {
        margin: 0 auto;
    }

    padding: 64px 0;

    & p {
        margin: 16px 32px;
    }

    & swiper-slide:not(.swiper-slide-active) {

        transform: scale(0.9);
    }
    
    @media (min-width: 768px) {
      padding-bottom: 128px;
        & p {
            margin: 64px 128px;
        }
    }
}







/* componentes */
section,
dialog {
    width: 100%;
    height: 100svh;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    @media (min-width: 768px) {
        padding: 64px;

    }
}

div[role="logo"] {
    width: 160px;
    height: 160px;
    background-color: black;

    mask-image: url('public/logo.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;


    -webkit-mask-image: url('public/logo.svg');
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

h1 {
    color: var(--secundaria);
    font-family: 'Exo', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin: 0%;
}

/* maskara */
[role="mask"] {
    filter: drop-shadow(0px 24px 34px rgba(0, 0, 0, 0.15));
    width: 100%;
    height: 260px;
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    z-index: -10;
}


/* paragrafo */
p {
    font-size: 20px;
    font-family: "Source Serif 4", serif;

    &.text-justify {
        text-align: justify;
    }

    &.text-sm {
        font-size: 16px;
    }
}

/* botao */
[role="button"],
button {

    width: fit-content;
    display: inline-flex;
    padding: 8px 24px;
    align-items: center;
    align-content: center;
    text-align: left;
    ;
    gap: 10px;

    border-radius: 8px;
    background: color-mix(in srgb, var(--tom-2) 100%, white 20%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /* tipografia */
    color: var(--tom-3, #664E38);


    font-family: Exo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    transition: all 150ms;

    &:hover {
        background: color-mix(in srgb, var(--tom-2) 100%, rgb(0, 0, 0) 20%);
        color: var(--tom-1);
    }

    &:active {
        background: color-mix(in srgb, var(--tom-2) 100%, rgb(255, 255, 255) 40%);

    }


}

.bolinhas {
    width: 300px;
    height: 300px;
    background-color: var(--tom-3);
    mask: url('public/bolinhas.svg');
    mask-size: 100%;

    &.fileira {
        mask: url('public/fileira-de-bolinhas.svg') no-repeat center;
        mask-size: 100%;
    }
}

.whatsapp-icon {
    width: 24px;
    height: 24px;
    background-color: currentColor;
    mask: url('public/whatsapp.svg') no-repeat center;
    mask-size: 100%;
}

.map {
    width: fit-content;
    background-color: var(--secundaria);
    border-radius: 8px;
    border: 4px solid var(--secundaria);
    overflow: hidden;

    & .map-mask {
        width: 272px;
        height: 156px;

        overflow: hidden;

        & img {
            width: 100%;
        }
    }

    & address {
        padding: 8px;
    }

    & h2 {
        margin: 0px;
        color: #FFF;
        font-family: Exo;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 16px */
    }

    & h3 {
        margin: 0px;
        color: #FFF;
        font-family: Exo;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 8px */


    }

    @media (min-width: 768px) {
        & .map-mask {
            width: 372px;
            height: 256px;
        }

    }
}

footer {
    color: #FFF;

    & [role="logo"] {
        width: 48px;
        height: 48px;
        background-color: white;
    }

    & div:has(nav) {
        background-color: var(--tom-3);
        padding: 32px;
    }

    & div:has(p) {
        padding: 12px 0;
        background: color-mix(in srgb, var(--tom-3) 100%, black 40%);
    }

    & a {
        font-size: 12px !important;
    }

    & p,
    a {
        color: #FFF;
        font-family: Exo;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 8px */
        margin: 0;
        text-decoration: none;
        transition: all 150ms;
    }

    & a:hover {
        color: var(--tom-1);
    }

    @media (min-width: 768px) {
        & div:has(nav) {
        padding: 64px;
    }
    }
}


dialog {
    color: #FFF;
    font-family: Exo;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 32px */
    text-align: none;
    margin: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.40);
    position: fixed;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: all 300ms allow-discrete;

    &[open] {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }



    & [role="logo"] {
        width: 96px;
        height: 96px;
        background-color: #FFF;
    }

    & a,
    svg {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    & nav {
        text-align: end;
    }
}

nav.main {
    width: 100%;
    padding: 24px 32px;
    position: fixed;
    top: 0;
    z-index: 100;
    mix-blend-mode: difference;

    transition: margin-top 1s;


    & [role="logo"] {
        width: 48px;
        height: 48px;
        padding: 24px 32px;
        background-color: #FFF;
    }

    & svg {
        color: #FFF;
    }
}

dialog[open]+nav.main {
    margin-top: -96px;
}

/* swiper */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms;
}

/* utilitarios */

.translate-y-center {
    translate: 0 -50%;
    top: 50%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-4 {
    gap: 16px;
}

.gap-8 {
    gap: 32px;
}